{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4"><i class="bi bi-question-circle-fill"></i> Часто задаваемые вопросы</h1>

<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#q1">
                Как записаться на прием?
            </button>
        </h2>
        <div id="q1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Запись осуществляется через панель "Врачи".
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q2">
                Можно ли изменить запись?
            </button>
        </h2>
        <div id="q2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Да, обратитесь к администратору.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q3">
                Как посмотреть свои приемы?
            </button>
        </h2>
        <div id="q3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                После входа в систему перейдите в раздел «Мои приёмы» в навигационном меню.
            </div>
        </div>
    </div>
</div>
{% endblock %}